<section class="section">
  <div class="container">
    <h1 class="title is-2 has-text-centered">What photo do you want to share with us?</h1>
    <%= render 'form', picture: @picture %>
  </div>
</section>
